/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p{
  font-size: 20px;
  font-weight: bold;
}

 h2{
   font-size: 16px;
   margin-bottom: 15px;
   border-bottom: 1px solid black;
 }

 h3{
   font-size: 16px;
   margin-bottom: 10px;
 }

 textarea{
   box-sizing: border-box;
   width: 100%;
   padding: 5px;
   height: 90px;
 }

/*input[type="submit"] {float: right;}*/

.form{
  padding: 10px;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

.post{
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid grey;
}

.comment{
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.name{
  font-weight: bold;
  color: black;
}

.details{
  font-size: 12px;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
}

.post_link{
  font-size: 12px;
  color: grey;
}

.like{
  width: 23px;
  height: 20px;
  background:url(icon_heart.png);
  border-style: none;
}

.unlike{
  width: 23px;
  height: 20px;
  background:url(icon_heart_red.png);
  border-style: none;
}
