<% if @post.like_user(current_user) %>
   <div id="like-button">
   <%= render 'unlike', :post => @post %>
   </div>
<% else %>
   <div id="like-button">
     <%= render 'like', :post => @post %>
  </div>
<% end %>
